#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# Share Mounts account configuration
########################################
#
#    ShareMounts.Enable
#        Description: Enable the module to share all mounts of all characters that exist on the same account.
#        Default:     0 - Disabled
#                     1 - Enabled
#
ShareMounts.Enable = 1

#
#    ShareMounts.BlockFactions
#        Description: Blocks mounts from being shared between factions, if disabled then one faction will learn mounts from the other faction.
#        Default:     0 - Disabled
#                     1 - Enabled
#
ShareMounts.BlockFactions = 1
